<%- include('header'); -%>
<div class="contact">
    <table id="catalog">
        <tr>
          <th>Name</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>Sai Nikhita</td>
          <td>Sharjah</td>
          <td>053042340</td>
          <td>ajfjajisfd@hwer.com</td>
        </tr>
        <tr>
          <td>Rubert</td>
          <td>China</td>
          <td>29348349324</td>
          <td>safaff@sfjs.com</td>
        </tr>
        <tr>
            <td>Lorrain</td>
            <td>Paris</td>
            <td>239492934</td>
            <td>acsdfsac@sfdd.com</td>
          </tr>
      </table>
</div>
<%- include('footer'); -%>